* {
    box-sizing: border-box; 
    font-family: 'Crete Round', serif;
    font-family: 'Itim', cursive;
    font-family: 'Kurale', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Public Sans', sans-serif;
}

body{
  margin: 10px;
  padding: 15px;
  background-color: green;
}

section{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

span{
  color:green;
  margin-left: 800px;
}

h1, h2{
  color: green;
}

p{
   font-size: large;
   text-align: justify;
}

img{
  border-radius: 15px;
}

link, a:visited{
  cursor: pointer;
  color: green;
}

a:hover{
  transform: scale(1.1);
  transition: 250ms linear;
} 

a{
  text-decoration: none;
}

button{
  margin-bottom: 10px;
  padding: 15px 15px;
  width: 200px;
  color: green;
  font-size: large;
  cursor: pointer;
  border-radius: 20px;
}

button:hover{
  transform: scale(1.1);
  transition: 250ms;
}

div{
  text-align: center;
}

#menu ul{
  margin: 0px;
  list-style: none;
}

#menu ul li{
  display: inline;
}

#menu ul li a{
  padding: 20px 10px;
  display: inline-block;
  text-decoration: none;
  color:green;
}

#menu ul li a:hover{
  cursor: pointer; 
}

#lk{
  text-align: center;
}

li{
  font-size: large;
}

#lk a{
  margin-left: 20px;
}

/* style do footer */

footer{
  background-color: green;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

footer p, footer h3{
  color:white;
}

.footer-box{
  width: 31%;
  padding: 1%;
  float: left;
}

footer .wrapper:after{
  clear: both;
  content: "";
  display: block;
}

.company-footer, .historico-footer, .tels{
   width: 80%;
}

.historico-footer, .tels{
  margin-top: 90px;
}

h3{
  margin-bottom: 20px;
}

/* style da pag 'formulario.html': */

#last{
  margin-top: 40px;
  margin-right: 800px;
  margin-left: 400px;
}

#whats{
  margin-top: 40px;
  margin-left: 430px;
}

#whats:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 250ms linear;
}

input, textarea{
  border-radius: 8px;
  margin-bottom: 20px;
}

form{
  width: 100%;
  margin-left: 30px;
  margin-left: 400px;
}

#last{
  display: none;
}

#whats{
  animation: moving 2s linear infinite;
}

@keyframes moving{
  0%{ 
    transform: translateY(0px);
  }

  50%{
    transform: translateY(15px);
  }

  100%{
   transform: translateY(0px);
  }
}

/* realização de animações nos textos */

[data-animation]{
  opacity: 0;
  transition: .3s;
}

[data-animation = "top"]{
  transform: translate3d(0px, -50px, 0px);
}

[data-animation].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* responsividade: */

@media (max-width:600px){
   #menu ul li{
      margin-right: 30px;
   }
  
   img, .footer-box{
    width: 100%;
   }

   .pics{
    height:100%;
   }

   form{
    width: 100%;
    margin-left: 30px;
  }

   #last{
    margin-top: 40px;
    margin-left: 30px;
    display: block;
  }
  
  #whats{
    margin-top: 40px;
    margin-left: 20px;
    width: 20%;
  }
   
}

@media (max-width: 400px){
  body{
  padding: 10px;
  }

 section{
  padding: 10px; 
 }

 li{
  margin-right: 80px;
}

 form, label{
  width: 60%;
 }

 #send{
  width: 95%;
  margin-bottom: 40px;
 }

 input, textarea{
  width: 120%;
 }

 h1, h2{
  height: 80%;
  text-align: center;
 } 

 #whats{
  margin-left: 50px;
  width: 30%;
 }

 #last{
  margin-right: 30px ;
 }
}

